# {{ ansible_managed }}

description "Archivematica MCP Server"
author "Artefactual Systems"

start on (runlevel [2345] and filesystem)
stop on runlevel [016]

env PYTHONPATH={{ archivematica_src_am_common_app }}:{{ archivematica_src_am_dashboard_app }}

{% for key, value in archivematica_src_am_mcpserver_environment.items() %}
env {{ key }}={{ value }}
{% endfor %}

setuid archivematica
setgid archivematica

pre-start script

    # Wait for Gearman to start - timeout eventually
    for i in $(seq 1 10)
    do
        gearadmin --getpid && break
        sleep 3
    done
    gearadmin --getpid || exit 1

    {% if archivematica_src_am_wait_local_mysql|bool %}
    # Wait for mysql to start - timeout eventually
    for i in $(seq 1 10)
    do
        mysqladmin ping && break
        sleep 3
    done
    mysqladmin ping || exit 1
    {% endif %}

    exit 0

end script

script

    export $(grep -v ^# /etc/default/archivematica-mcp-server)

    # Run MCPServer
    {{ archivematica_src_am_mcpserver_virtualenv }}/bin/python {{ archivematica_src_am_mcpserver_app }}/archivematicaMCP.py

end script
