# {{ ansible_managed }}

description "Archivematica MCP Client"
author "Artefactual Systems"

start on (net-device-up
          and local-filesystems
          and runlevel [2345])
stop on runlevel [016]

env PATH={{ archivematica_src_am_mcpclient_virtualenv }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games
env PYTHONPATH={{ archivematica_src_am_mcpclient_app }}:{{ archivematica_src_am_common_app }}:{{ archivematica_src_am_dashboard_app }}

{% for key, value in archivematica_src_am_mcpclient_environment.iteritems() %}
env {{ key }}={{ value }}
{% endfor %}

setuid archivematica
setgid archivematica

script

    # Is this still necessary?
    test -f /etc/default/locale && . /etc/default/locale || true

    export $(grep -v ^# /etc/default/archivematica-mcp-client)
    {{ archivematica_src_am_mcpclient_virtualenv }}/bin/python {{ archivematica_src_am_mcpclient_app }}/archivematicaClient.py

end script
