- name: "Install required deb packages "
  apt:
    name: "{{ item }}"
    state: installed
  with_items:
    - "sqlite3"
    - "moreutils"
    - "mailutils"
  when:
    - ansible_os_family == "Debian"

- name: "Install required rpm packages"
  apt:
    name: "{{ item }}"
    state: installed
  with_items:
    - "sqlite"
    - "moreutils"
    - "mailx"
  when:
    - ansible_os_family == "RedHat"

- name: "Get git config global safe directories dir"
  shell: "git config --global --get-all safe.directory || echo ''"
  register: "__git_config_global_safe_dir"

- name: "Set Fixity source directory as git safe dir"
  command: "git config --global --add safe.directory {{ archivematica_src_dir }}/fixity"
  when:
    - archivematica_src_dir + '/fixity' not in __git_config_global_safe_dir.stdout_lines

- name: "Download code"
  git:
    repo: "https://github.com/artefactual/fixity.git"
    dest: "{{ archivematica_src_dir }}/fixity"
    version: "{{ archivematica_src_fixity_version }}"
    force: "yes"

- name: "Install pip dependencies in virtualenv"
  pip:
    chdir: "{{ archivematica_src_dir }}/fixity"
    requirements: "requirements.txt"
    virtualenv: "{{ archivematica_src_fixity_virtualenv }}"
    state: "latest"

- name: "Run setup.py"
  shell: "{{ archivematica_src_fixity_virtualenv }}/bin/python setup.py install"
  args:
    chdir: "{{ archivematica_src_dir }}/fixity"

- name: "Change virtualenv owner to archivematica"
  file:
     path: "{{ archivematica_src_fixity_virtualenv }}"
     state: "directory"
     owner: "archivematica"
     group: "archivematica"
     recurse: "yes"
 
- name: "Create config file"
  template:
     src: "etc/sysconfig/fixity.j2"
     dest: "{{ systemd_environment_path }}/fixity"
     mode: 0640
     owner: "archivematica"
     group: "archivematica"

- name: "Create log dir"
  file:
     path: "/var/log/archivematica/fixity/"
     state: "directory"
     mode: 0750
     owner: "archivematica"
     group: "archivematica"


- name: "Create fixity script"
  template:
     src: "bin/{{ item }}"
     dest: "/usr/local/bin/{{ item }}"
     mode: 0755
     owner: "root"
  with_items:
    - "fixity"
    - "fixity-cron"

- name: "Create cron job"
  cron:
     name: "Run fixity"
     job: "/usr/local/bin/fixity-cron"
     minute: "0"
     hour: "3"
     day: "1"
     month: "*/3"
     user: "archivematica"
     cron_file: "fixity"
     state: "present"

- name: "Create cron job"
  cron:
     name: "SHELL"
     env: yes
     value: "/bin/bash"
     cron_file: "fixity"
     user: "archivematica"
     state: "present"
