- name: "Install required deb packages "
  package:
    name: "{{ archivematica_src_am_fixity_deps }}"
    state: "present"

- name: "Download code"
  git:
    repo: "https://github.com/artefactual/fixity.git"
    dest: "{{ archivematica_src_dir }}/fixity"
    version: "{{ archivematica_src_fixity_version }}"
    force: "yes"

- name: "Install pip dependencies in virtualenv"
  pip:
    chdir: "{{ archivematica_src_dir }}/fixity"
    requirements: "requirements.txt"
    virtualenv: "{{ archivematica_src_fixity_virtualenv }}"
    state: "latest"

- name: "Run setup.py"
  shell: "{{ archivematica_src_fixity_virtualenv }}/bin/python setup.py install"
  args:
    chdir: "{{ archivematica_src_dir }}/fixity"

- name: "Change virtualenv owner to archivematica"
  file:
     path: "{{ archivematica_src_fixity_virtualenv }}"
     state: "directory"
     owner: "archivematica"
     group: "archivematica"
     recurse: "yes"

- name: "Create config file"
  template:
     src: "etc/sysconfig/fixity.j2"
     dest: "{{ systemd_environment_path }}/fixity"
     mode: 0640
     owner: "archivematica"
     group: "archivematica"

- name: "Create log dir"
  file:
     path: "/var/log/archivematica/fixity/"
     state: "directory"
     mode: 0750
     owner: "archivematica"
     group: "archivematica"

- name: "Create fixity script"
  template:
     src: "bin/{{ item }}"
     dest: "/usr/local/bin/{{ item }}"
     mode: 0755
     owner: "root"
  with_items:
    - "fixity"
    - "fixity-cron"

- name: "Create cron job"
  cron:
     name: "Run fixity"
     job: "/usr/local/bin/fixity-cron"
     minute: "0"
     hour: "3"
     day: "1"
     month: "*/3"
     user: "archivematica"
     cron_file: "fixity"
     state: "present"

- name: "Create cron job"
  cron:
     name: "SHELL"
     env: yes
     value: "/bin/bash"
     cron_file: "fixity"
     user: "archivematica"
     state: "present"
