---

#
# Common tasks
#


- name: "Set fact: type of environment"
  set_fact:
    is_dev: "{{ archivematica_src_environment_type == 'development' }}"
    is_prod: "{{ archivematica_src_environment_type == 'production' }}"
  tags: "always" # inocuous to use always here

- name: "Set fact: environment vars"
  set_fact:
    archivematica_src_am_dashboard_environment:
      DJANGO_SETTINGS_MODULE: "{{ 'settings.local' if is_dev else 'settings.production' }}"
      ARCHIVEMATICA_DASHBOARD_DASHBOARD_DJANGO_ALLOWED_HOSTS: "{{ archivematica_src_am_env_django_allowed_hosts }}"
      ARCHIVEMATICA_DASHBOARD_DASHBOARD_DJANGO_SECRET_KEY: "{{ archivematica_src_am_env_django_secret_key }}"
      ARCHIVEMATICA_DASHBOARD_DASHBOARD_SHIBBOLETH_AUTHENTICATION: "{{ archivematica_src_shibboleth_authentication }}"
    archivematica_src_ss_environment:
      DJANGO_SECRET_KEY: "{{ archivematica_src_ss_env_django_secret_key }}"
      DJANGO_SETTINGS_MODULE: "{{ archivematica_src_ss_env_django_setings_module }}"
      DJANGO_STATIC_ROOT: "{{ archivematica_src_ss_env_django_static_root }}"
      DJANGO_ALLOWED_HOSTS: "{{ archivematica_src_ss_env_django_allowed_hosts }}"
      EMAIL_HOST: "{{ archivematica_src_ss_env_email_host }}"
      EMAIL_HOST_PASSWORD: "{{ archivematica_src_ss_env_email_host_password }}"
      EMAIL_HOST_USER: "{{ archivematica_src_ss_env_email_host_user }}"
      EMAIL_PORT: "{{ archivematica_src_ss_env_email_port }}"
      SS_DB_HOST: "{{ archivematica_src_ss_env_ss_db_host }}"
      SS_DB_NAME: "{{ archivematica_src_ss_env_ss_db_name }}"
      SS_DB_PASSWORD: "{{ archivematica_src_ss_env_ss_db_password }}"
      SS_DB_USER: "{{ archivematica_src_ss_env_ss_db_user }}"
      SS_SHIBBOLETH_AUTHENTICATION: "{{ archivematica_src_shibboleth_authentication }}"
  tags: "always" # inocuous to use always here

- name: "initialize systemd folder"
  set_fact:
    systemd_environment_path: "/etc/default"
  tags: "always" # inocuous to use always here

- name: "initialize systemd folder (RedHat)"
  set_fact:
    systemd_environment_path: "/etc/sysconfig"
  when:
     - ansible_os_family == "RedHat" and ansible_service_mgr == "systemd"
  tags: "always" # inocuous to use always here

- name: "include common.yml common tasks for all components"
  include: "common.yml"
  tags: # do not use "always" tag in role, to avoid issues when including other roles in a playbook
  - "amsrc-common"
  - "amsrc-ss"
  - "amsrc-pipeline"
  - "amsrc-devtools"
  - "amsrc-automationtools"



#
# archivematica-storage-service
#

- include: "ss-main.yml"
  tags:
   - "amsrc-ss"
  when: "archivematica_src_install_ss|bool"

- include: "ss-db.yml"
  tags:
   - "amsrc-ss"
   - "amsrc-ss-db"
  when: "archivematica_src_install_ss|bool"

- include: "ss-websrv-gunicorn.yml"
  tags:
   - "amsrc-ss"
   - "amsrc-ss-websrv"
  when: "archivematica_src_install_ss|bool"


#
# archivematica pipeline install
#    (dashboard, MCP server, client)
#
#   0- Clone source repo
#   1- OS dependencies (debian packages)
#   2- python dependencies (pip packages)
#   3- OS configuration (user/directory/file creation/permissions/ownership)
#   4- Code install
#   5- Database config
#   6- web server config

- include: "pipeline-clonecode.yml"
  tags:
    - "amsrc-pipeline"
    - "amsrc-pipeline-clonecode"
  when: "archivematica_src_install_am|bool"

- include: "pipeline-osdeps.yml"
  tags:
    - "amsrc-pipeline"
    - "amsrc-pipeline-osdeps"
  when: "archivematica_src_install_am|bool"

- include: "pipeline-pip-deps.yml"
  tags:
    - "amsrc-pipeline"
    - "amsrc-pipeline-pipdeps"
  when: "archivematica_src_install_am|bool"

- include: "pipeline-osconf.yml"
  tags:
    - "amsrc-pipeline"
    - "amsrc-pipeline-osconf"
  when: "archivematica_src_install_am|bool"

- include: "pipeline-instcode.yml"
  tags:
    - "amsrc-pipeline"
    - "amsrc-pipeline-instcode"
  when: "archivematica_src_install_am|bool"

- include: "pipeline-dbconf.yml"
  tags:
    - "amsrc-pipeline"
    - "amsrc-pipeline-dbconf"
  when: "archivematica_src_install_am|bool"

- include: "pipeline-websrv-gunicorn.yml"
  tags:
   - "amsrc-pipeline"
   - "amsrc-pipeline-websrv"
  when: "archivematica_src_install_am|bool"




#
# archivematica-devtools
#

- include: "am-devtools.yml"
  tags:
    - "amsrc-devtools"
  when: "archivematica_src_install_devtools|bool"

#
# automation-tools
#

- include: "automation-tools.yml"
  tags:
    - "amsrc-automationtools"
  when: "archivematica_src_install_automationtools|bool"

#
# acceptance-tests
#

- include: "acceptance-tests.yml"
  tags:
    - "amsrc-acceptancetests"
  when: "archivematica_src_install_acceptance_tests|bool"
