---

###########################################################
#   3- OS configuration (user/directory/file creation/permissions/ownership )
###########################################################

- name: "Create subdirectories for archivematica-common source files"
  file:
    dest: "{{ item }}"
    state: "directory"
  with_items:
    - "/usr/lib/archivematica"
    - "/usr/share/archivematica/archivematicaCommon"

- name: "Create subdirectories for archivematica-mcp-server source files"
  file:
    dest: "{{ item }}"
    state: "directory"
  with_items:
    - "/usr/lib/archivematica"
    - "/usr/share/archivematica"

- name: "Clear shared directory"
  file:
    dest: "{{ archivematica_src_shareddir }}"
    state: "absent"
  when: "archivematica_src_reset_shareddir|bool or archivematica_src_reset_am_all|bool"

# to avoid playbook errors when the shared dir is a symlink, 
# check for existence before creating 
- name: "Check if shared directory exists"
  stat:
    path: "{{ archivematica_src_shareddir }}"
  register: "shareddir_st"

- set_fact:
    create_shareddir: true
  when: "shareddir_st.stat.exists is defined and not shareddir_st.stat.exists" 

- set_fact:
    create_shareddir: false
  when: "shareddir_st.stat.exists is defined and shareddir_st.stat.exists" 

- name: "Create shared directory (if it doesn't exist and there is no symlink to it)"
  file:
    dest: "{{ archivematica_src_shareddir }}"
    state: "directory"
    owner: "archivematica"
    group: "archivematica"
  when: "create_shareddir"

# (this is required because some hardcoding of the shared dir remains in archivematica code)
- name: "Symlink shared directory to default location"
  file:
    src: "{{ archivematica_src_shareddir }}"
    dest: "/var/archivematica/sharedDirectory"
    state: "link"
  when: create_shareddir and archivematica_src_shareddir != "/var/archivematica/sharedDirectory"

- name: "Create subdirectories for archivematica-mcp-client source files"
  file:
    dest: "{{ item }}"
    state: "directory"
  with_items:
    - "/usr/lib/archivematica"
