---

###########################################################
#   3- OS configuration (user/directory/file creation/permissions/ownership )
###########################################################

- name: "Create user archivematicadashboard"
  user:
    name: "archivematicadashboard"
    uid: "334"
    system: "yes"
    home: "/var/lib/archivematica-dashboard"

- name: "Create subdirectories for archivematica-common source files"
  file:
    dest: "{{ item }}"
    state: "directory"
  with_items:
    - "/usr/lib/archivematica"
    - "/etc/archivematica/archivematicaCommon"
    - "/usr/share/archivematica/archivematicaCommon"

- name: "Create archivematica-dashboard log directories"
  file:
    dest: "{{ item }}"
    state: "directory"
    owner: "archivematica"
    group: "archivematica"
    mode: "g+s"
  with_items:
    - "/var/log/archivematica/dashboard"

- name: "Create subdirectories for archivematica-mcp-server source files"
  file:
    dest: "{{ item }}"
    state: "directory"
  with_items:
    - "/etc/archivematica/MCPServer"
    - "/usr/lib/archivematica"
    - "/usr/share/archivematica"
    - "/usr/share/dbconfig-common/data/archivematica-mcp-server/install/"
    - "/usr/share/dbconfig-common/data/archivematica-mcp-server/upgrade/mysql/"

- name: "Create archivematica-mcp-server log directories"
  file:
    dest: "{{ item }}"
    state: "directory"
    owner: "archivematica"
    group: "archivematica"
    mode: "g+s"
  with_items:
    - "/var/log/archivematica/MCPServer"

- name: "Clear shared directory"
  file:
    dest: "{{ archivematica_src_shareddir }}"
    state: "absent"
  when: "archivematica_src_reset_shareddir|bool or archivematica_src_reset_am_all|bool"

# to avoid playbook errors when the shared dir is a symlink, 
# check for existence before creating 
- name: "Check if shared directory exists"
  stat:
    path: "{{ archivematica_src_shareddir }}"
  register: "shareddir_st"

- set_fact:
    create_shareddir: true
  when: "shareddir_st.stat.exists is defined and not shareddir_st.stat.exists" 

- set_fact:
    create_shareddir: false
  when: "shareddir_st.stat.exists is defined and shareddir_st.stat.exists" 

- name: "Create shared directory (if it doesn't exist and there is no symlink to it)"
  file:
    dest: "{{ archivematica_src_shareddir }}"
    state: "directory"
    owner: "archivematica"
    group: "archivematica"
  when: "create_shareddir"

# (this is required because some hardcoding of the shared dir remains in archivematica code)
- name: "Symlink shared directory to default location"
  file:
    src: "{{ archivematica_src_shareddir }}"
    dest: "/var/archivematica/sharedDirectory"
    state: "link"
  when: create_shareddir and archivematica_src_shareddir != "/var/archivematica/sharedDirectory"

# copy of shared dir structure should be executed also for upgrades (to reflect changes) 
# Note: --chown option requires rsync version >=3.1.0
#       centos 7 does not currently support it
#- name: "Copy shared directory structure (non RH)"
#  command: "rsync -a --chown=archivematica:archivematica {{ archivematica_src_dir }}/archivematica/src/MCPServer/share/sharedDirectoryStructure/ {{ archivematica_src_shareddir }}/"
#  when: not (ansible_os_family == "RedHat")

- name: "Copy shared directory structure (RH)"
  command: "rsync -rl {{ archivematica_src_dir }}/archivematica/src/MCPServer/share/sharedDirectoryStructure/ {{ archivematica_src_shareddir }}/"
  when: ansible_os_family == "RedHat"
- name: "Fix shared directory structure ownership (RH)"
  shell: "ls -1 | xargs chown -R archivematica:archivematica"
  args:
    chdir: "{{ archivematica_src_shareddir }}"
  when: ansible_os_family == "RedHat"

- name: "Create subdirectories for archivematica-mcp-client source files"
  file:
    dest: "{{ item }}"
    state: "directory"
  with_items:
    - "/etc/archivematica/MCPClient"
    - "/usr/lib/archivematica"

- name: "Create archivematica-mcp-client log directories"
  file:
    dest: "{{ item }}"
    state: "directory"
    owner: "archivematica"
    group: "archivematica"
    mode: "g+s"
  with_items:
    - "/var/log/archivematica/MCPClient"
