---

###########################################################
#   3- OS configuration (user/directory/file creation/permissions/ownership )
###########################################################

- name: "Create subdirectories for am needed files"
  file:
    dest: "{{ item }}"
    state: "directory"
  with_items:
    - "/usr/lib/archivematica"
    - "/usr/share/archivematica/archivematicaCommon"
    - "/usr/share/archivematica"
    - "/etc/archivematica"
    - "/var/lib/archivematica"

#
# Shared directory
#

- name: "Clear shared directory"
  file:
    dest: "{{ archivematica_src_shareddir }}"
    state: "absent"
  when: "archivematica_src_reset_shareddir|bool or archivematica_src_reset_am_all|bool"

# to avoid playbook errors when the shared dir is a symlink, 
# check for existence before creating 
- name: "Check if shared directory exists"
  stat:
    path: "{{ archivematica_src_shareddir }}"
  register: "shareddir_st"

- set_fact:
    create_shareddir: true
  when: "shareddir_st.stat.exists is defined and not shareddir_st.stat.exists" 

- set_fact:
    create_shareddir: false
  when: "shareddir_st.stat.exists is defined and shareddir_st.stat.exists" 

- name: "Create shared directory (if it doesn't exist and there is no symlink to it)"
  file:
    dest: "{{ archivematica_src_shareddir }}"
    state: "directory"
    owner: "archivematica"
    group: "archivematica"
  when: "create_shareddir"

# (this is required because some hardcoding of the shared dir remains in archivematica code)
- name: "Symlink shared directory to default location"
  file:
    src: "{{ archivematica_src_shareddir }}"
    dest: "/var/archivematica/sharedDirectory"
    state: "link"
  when: "create_shareddir and archivematica_src_shareddir != '/var/archivematica/sharedDirectory'"

# check if ClamAV is running with file or tcp socket
- name: "Check if ClamAV is running with file or tcp socket"
  shell: cat /etc/clamav/clamd.conf /etc/clamd.conf 2> /dev/null | grep -Eq "^LocalSocket\ "
  register: clamavlocalsocket
  check_mode: no
  failed_when: clamavlocalsocket.rc > 1
  changed_when: false
  when: "not archivematica_src_mcpclient_clamav_use_tcp|bool"

- set_fact:
    clamav_uses_file_socket: true
  when: clamavlocalsocket.rc is defined and clamavlocalsocket.rc == 0

#
# Backward-compatible Logging config
# 

- name: "Create archivematica log directories"
  file:
    dest: "{{ item }}"
    state: "directory"
    owner: "archivematica"
    group: "archivematica"
    mode: "g+s"
  with_items:
    - "{{ archivematica_src_dashboard_logdir }}"
    - "{{ archivematica_src_mcpclient_logdir }}"
    - "{{ archivematica_src_mcpserver_logdir }}"
  when: "archivematica_src_logging_backward_compatible|bool"

- name: "Touch log files"
  file:
    path: "{{ item }}"
    owner: "archivematica"
    group: "archivematica"
    state: "touch"
  with_items:
    - "{{ archivematica_src_dashboard_logdir }}/dashboard.log"
    - "{{ archivematica_src_dashboard_logdir }}/dashboard.debug.log"
    - "{{ archivematica_src_mcpclient_logdir }}/MCPClient.log"
    - "{{ archivematica_src_mcpclient_logdir }}/MCPClient.debug.log"
    - "{{ archivematica_src_mcpserver_logdir }}/MCPServer.log"
    - "{{ archivematica_src_mcpserver_logdir }}/MCPServer.debug.log"
  when: "archivematica_src_logging_backward_compatible|bool"
