---

###########################################################
#   6- dashboard web server config - when using gunicorn with nginx
###########################################################

# Note: the playbook assumes the use of /etc/nginx/{sites-available|sites-enabled}
#       directories for site config files, even on CentOS/RedHat

- name: "Template dashboard nginx sites-available config file"
  template:
    src: "etc/nginx/sites-available/dashboard.conf.j2"
    dest: "/etc/nginx/sites-available/dashboard.conf"
    backup: "yes"

- name: "Remove Nginx default server"
  file:
    path: "{{ item }}"
    state: "absent"
  with_items:
    - "/etc/nginx/sites-enabled/default"
    - "/etc/nginx/sites-enabled/default.conf"
    - "/etc/nginx/conf.d/archivematica-storage-service.conf" # rpm provided config

- name: "Set up Nginx server"
  file:
    src: "/etc/nginx/sites-available/dashboard.conf"
    dest: "/etc/nginx/sites-enabled/dashboard.conf"
    state: "link"

# SSL configuration tasks - begin
- name: "Template nginx ssl config file"
  template:
    src: "etc/nginx/sites-available/dashboard-ssl.conf.j2"
    dest: "/etc/nginx/sites-available/dashboard-ssl.conf"
    backup: "yes"
  when: "archivematica_src_ssl|bool"

- name: "Remove non-ssl config from sites-enabled"
  file:
    path: "/etc/nginx/sites-enabled/dashboard.conf"
    state: "absent"
  when: "archivematica_src_ssl|bool"

- name: "Add ssl config to sites-enabled"
  file:
    src: "/etc/nginx/sites-available/dashboard-ssl.conf"
    dest: "/etc/nginx/sites-enabled/dashboard-ssl.conf"
    state: "link"
  when: "archivematica_src_ssl|bool"
# SSL configuration tasks - end

- name: "Enable services"
  systemd:
    name: "{{ item }}"
    state: "restarted"
    enabled: "yes"
    daemon_reload: "yes"
  with_items:
    - "nginx"
  when:
    - ansible_service_mgr == "systemd"
