---
###########################################################
#   5- Database config
###########################################################

- name: "Remove SS DB"
  file:
    state: "absent"
    path: "{{ archivematica_src_ss_environment['SS_DB_NAME'] }}"
  when: "archivematica_src_reset_ss_db|bool"

- name: "Run SS django database migrations"
  django_manage:
    command: "migrate"
    app_path: "{{ archviematica_src_ss_app }}"
    virtualenv: "{{ archivematica_src_ss_virtualenv }}"
  environment: "{{ archivematica_src_ss_environment }}"

- name: "Fix DB permissions"
  file:
    dest: "{{ archivematica_src_ss_environment['SS_DB_NAME'] }}"
    owner: "archivematica"
    group: "archivematica"
    mode: "u=rwX,g=rwX,o=rX"

- name: "Back create API keys for old users"
  django_manage:
    command: "backfill_api_keys"
    app_path: "{{ archviematica_src_ss_app }}"
    virtualenv: "{{ archivematica_src_ss_virtualenv }}"
  environment: "{{ archivematica_src_ss_environment }}"
