---
###########################################################
#   5- Database config
###########################################################

- name: "Remove SS DB"
  file:
    state: "absent"
    path: "{{ archivematica_src_ss_environment['SS_DB_NAME'] }}"
  when:
    - "archivematica_src_reset_ss_db|bool"
    - "archivematica_src_ss_environment['SS_DB_URL'] is not defined"

- name: "Remove SS DB (mysql)"
  mysql_db:
    name: "{{ archivematica_src_ss_db_name }}"
    state: absent
  when: 
    - "archivematica_src_reset_ss_db|bool"
    - "archivematica_src_ss_environment['SS_DB_URL'] is defined"

- name: "Create SS DB (mysql)"
  mysql_db:
    name: "{{ archivematica_src_ss_db_name }}"
    state: present
  when:
    - "archivematica_src_reset_ss_db|bool"
    - "archivematica_src_ss_environment['SS_DB_URL'] is defined"


- name: "Run SS django database migrations"
  django_manage:
    command: "migrate"
    app_path: "{{ archivematica_src_ss_app }}"
    virtualenv: "{{ archivematica_src_ss_virtualenv }}"
  environment: "{{ archivematica_src_ss_environment }}"

- name: "Fix DB permissions"
  file:
    dest: "{{ archivematica_src_ss_environment['SS_DB_NAME'] }}"
    owner: "{{ archivematica_src_ss_system_user }}"
    group: "{{ archivematica_src_ss_system_group }}"
    mode: "u=rwX,g=rwX,o=rX"
  when: "archivematica_src_ss_environment['SS_DB_URL'] is not defined"

- name: "Back create API keys for old users"
  django_manage:
    command: "backfill_api_keys"
    app_path: "{{ archivematica_src_ss_app }}"
    virtualenv: "{{ archivematica_src_ss_virtualenv }}"
  environment: "{{ archivematica_src_ss_environment }}"
