---
# Archivematica Storage Service installer

###########################################################
#   0- Clone source repo
###########################################################

- name: "Delete pychache, pyc and pyo files/dir"
  command: "{{ item }}"
  args:
    removes: "{{ archivematica_src_dir }}/archivematica-storage-service"
  loop:
    - 'find {{ archivematica_src_dir }}/archivematica-storage-service -type f -name "*.py[co]" -delete'
    - 'find {{ archivematica_src_dir }}/archivematica-storage-service -type d -name "__pycache__" -delete'

- name: "Get git config global safe directories dir"
  shell: "git config --global --get-all safe.directory || echo ''"
  register: "__git_config_global_safe_dir"
  become_flags: "-E"
  tags: "amsrc-ss-clone"

- name: "Set AM source directory as git safe dir"
  command: "git config --global --add safe.directory {{ archivematica_src_dir }}/archivematica-storage-service"
  become_flags: "-E"
  when:
    - archivematica_src_dir + '/archivematica-storage-service' not in __git_config_global_safe_dir.stdout_lines
  tags: "amsrc-ss-clone"

- name: "Checkout archivematica-storage-service code"
  git:
    repo: "{{ archivematica_src_ss_repo }}"
    dest: "{{ archivematica_src_dir }}/archivematica-storage-service"
    version: "{{ archivematica_src_ss_version }}"
    force: "yes"
    accept_hostkey: "yes"
  become_flags: "-E"
  tags: "amsrc-ss-clone"

# For some reason, some dirs in the cloned source code
# are not sometimes readable by all. Add a task to fix it
# For some other reason this task does not always work
# blame ansible  :-/
# Update: this problem may have been fixed with postinst removal
- name: "Ensure the source code is readable by all"
  file:
    path: "{{ archivematica_src_dir }}/archivematica-storage-service"
    mode: "o+rX"
    recurse: "yes"
  become: "yes"
  tags: "amsrc-ss-clone"


###########################################################
#   1- OS package dependencies
###########################################################

- name: "include ss-osdeps.yml"
  include_tasks: "ss-osdeps.yml"
  tags: "amsrc-ss-osdeps"


###########################################################
#   2- Python dependencies (pip packages)
###########################################################

- name: "Destroy virtualenv if it's still using Python 2"
  block:
    - name: "Capture current Python version"
      command: |-
        {{ archivematica_src_ss_virtualenv }}/bin/python -c
          'import sys; sys.stdout.write("{}".format(sys.version_info[0])); sys.stdout.flush();'
      ignore_errors: yes
      register: "pyver_check"
    - name: "Destroy Python 2 virtualenv"
      file:
        path: "{{ archivematica_src_ss_virtualenv }}"
        state: "absent"
      when: "pyver_check.rc == 0 and pyver_check.stdout == '2'"

- name: "Create virtualenv and install pip-tools"
  pip:
    virtualenv: "{{ archivematica_src_ss_virtualenv }}"
    virtualenv_command: "{{ archivematica_src_virtualenv }}"
    virtualenv_python: "{{ archivematica_src_virtualenv_python }}"
    name: 
      - "pip=={{ archivematica_src_pip_version }}"
      - "pip-tools=={{ archivematica_src_pip_tools_version }}"
  tags: "amsrc-ss-pydep"

- name: "Synchronize requirements"
  command: "{{ archivematica_src_ss_virtualenv }}/bin/pip-sync {{ 'local.txt' if is_dev else 'production.txt' }}"
  args:
    chdir: "{{ archivematica_src_dir }}/archivematica-storage-service/requirements"
  environment:
    LC_ALL: "en_US.utf8"
    LANG: "en_US.utf8"
  tags: "amsrc-ss-pydep"

###########################################################
#   3- OS configuration (user/directory/file creation/permissions/ownership)
###########################################################

- name: "Create subdirectory for archivematica-storage-service source files"
  file:
    dest: "{{ item }}"
    state: "directory"
  with_items:
    - "/usr/lib/archivematica"
  tags: "amsrc-ss-osconf"

- name: "Create subdirectory for archivematica-storage-service database file"
  file:
    dest: "{{ item }}"
    state: "directory"
    owner: "archivematica"
    group: "archivematica"
  with_items:
    - "/var/archivematica/storage-service"
  tags: "amsrc-ss-osconf"

- name: "Create subdirectories for archivematica-storage-service config"
  file:
    dest: "{{ item }}"
    state: "directory"
  with_items:
    - "/etc/archivematica"
  tags: "amsrc-ss-osconf"

- name: "Create archivematica-storage-service log directories"
  file:
    dest: "{{ archivematica_src_ss_logdir }}"
    state: "directory"
    owner: "archivematica"
    group: "archivematica"
    mode: "g+s"
  tags: "amsrc-ss-osconf"
  when: "archivematica_src_logging_backward_compatible|bool"

- name: "Touch SS log files"
  file:
    path: "{{ archivematica_src_ss_logdir }}/{{ item }}"
    owner: "archivematica"
    group: "archivematica"
    state: "touch"
  with_items:
    - "storage_service.log"
    - "storage_service_debug.log"
  tags: "amsrc-ss-osconf"
  when: "archivematica_src_logging_backward_compatible|bool"

###########################################################
#   4- SS code install
###########################################################

- name: "Copy archivematica-storage-service source files"
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: "link"
  with_items:
    - src: "{{ archivematica_src_dir }}/archivematica-storage-service/storage_service"
      dest: "{{ archivematica_src_ss_app }}"
  tags: "amsrc-ss-code"

- name: "Run SS django collectstatic"
  django_manage:
    command: "collectstatic"
    app_path: "{{ archivematica_src_ss_app }}"
    virtualenv: "{{ archivematica_src_ss_virtualenv }}"
  environment: "{{ archivematica_src_ss_environment }}"
  tags: ["amsrc-ss-code", "amsrc-ss-code-collectstatic"]

- name: "Run SS django compilemessages"
  django_manage:
    command: "compilemessages"
    app_path: "{{ archivematica_src_ss_app }}"
    virtualenv: "{{ archivematica_src_ss_virtualenv }}"
  environment: "{{ archivematica_src_ss_environment }}"
  tags: ["amsrc-ss-code", "amsrc-ss-code-compilemessages"]

- name: "Copy gunicorn configuration file"
  copy:
    src: "{{ archivematica_src_dir }}/archivematica-storage-service/install/storage-service.gunicorn-config.py"
    dest: "{{ archivematica_src_ss_gunicorn_config }}"
    backup: "yes"
    force: "yes"
    remote_src: "yes"
  tags: "amsrc-ss-websrv"


###########################################################
#   5- SS worker - discontinued
###########################################################

###########################################################
#   6- Database config - moved to separate files
###########################################################

###########################################################
#   7- web server config - moved to separate files
###########################################################
