---
# Archivematica Storage Service installer

###########################################################
#   0- Clone source repo
###########################################################

- name: "Checkout archivematica-storage-service code"
  git:
    repo: "{{ archivematica_src_ss_repo }}"
    dest: "{{ archivematica_src_dir }}/archivematica-storage-service"
    version: "{{ archivematica_src_ss_version }}"
    force: "yes"
    accept_hostkey: "yes"
  tags: "amsrc-ss-clone"

# For some reason, some dirs in the cloned source code
# are not sometimes readable by all. Add a task to fix it
# For some other reason this task does not always work
# blame ansible  :-/
# Update: this problem may have been fixed with postinst removal
- name: "Ensure the source code is readable by all"
  file:
    path: "{{ archivematica_src_dir }}/archivematica-storage-service"
    mode: "o+rX"
    recurse: "yes"
  become: "yes"
  tags: "amsrc-ss-clone"

- name: "Get archivematica-storage-service latest commit hash"
  command: "git rev-parse HEAD"
  args:
    chdir: "{{ archivematica_src_dir }}/archivematica-storage-service"
  register: "latest_commit_ss"
  tags: "amsrc-ss-clone"

- name: "Save Archivematica Storage Service latest commit hash"
  shell: "echo {{ latest_commit_ss.stdout }} > {{ archivematica_src_dir }}/archivematica-storage-service-commit.txt"
  tags: "amsrc-ss-clone"
# TODO: Make use of latest_commit_ss


###########################################################
#   1- OS dependencies (debian packages)
###########################################################

- name: "Install archivematica-storage-service package dependencies (ref. debian/control)"
  apt:
    pkg: "{{ item }}"
    state: "latest"
  with_items:
    - "nginx"
    - "unar"
    - "rsync"
    - "uwsgi"
    - "uwsgi-plugin-python"
  tags: "amsrc-ss-osdep"

- name: "Install archivematica-storage-service additional package dependencies"
  apt:
    pkg: "{{ item }}"
    state: "latest"
  with_items:
    - "python-virtualenv"
    - "python-dev"
    - "libxml2-dev"
    - "libxslt1-dev"
    - "libz-dev"
    - "libffi-dev"
    - "libssl-dev"
    - "gettext"
  tags: "amsrc-ss-osdep"


###########################################################
#   2- Python dependencies (pip packages)
###########################################################

- stat:
    path: "{{ archivematica_src_dir }}/archivematica-storage-service/lib"
  register: "ss_lib_dir_check"
  tags: "amsrc-ss-pydep"

- set_fact:
    ss_pip_install_extra_args: ""
  tags: "amsrc-ss-pydep"

- set_fact:
    ss_pip_install_extra_args: "--find-links lib"
  when: "ss_lib_dir_check.stat.isdir is defined and ss_lib_dir_check.stat.isdir"
  tags: "amsrc-ss-pydep"

- name: "Create virtualenv for archivematica-storage-service, pip install requirements"
  pip:
    chdir: "{{ archivematica_src_dir }}/archivematica-storage-service"
    requirements: "{{ 'requirements/test.txt' if is_dev else 'requirements.txt'}}"
    virtualenv: "/usr/share/python/archivematica-storage-service"
    extra_args: "{{ ss_pip_install_extra_args }}"
    state: "latest"
  tags: "amsrc-ss-pydep"

- name: "Work around to install pip deps commented out in old SS branches"
  pip:
    chdir: "{{ archivematica_src_dir }}/archivematica-storage-service"
    virtualenv: "/usr/share/python/archivematica-storage-service"
    extra_args: "{{ ss_pip_install_extra_args }}"
    state: "latest"
    name: "{{ item }}"
  with_items:
    - "python-swiftclient"
    - "python-keystoneclient"
    - "sword2"
    - "pyopenssl"
    - "ndg-httpsclient"
    - "pyasn1"
  when: "archivematica_src_ss_pip_missing_deps|bool"
  tags: "amsrc-ss-pydep"


###########################################################
#   3- OS configuration (user/directory/file creation/permissions/ownership )
###########################################################

- name: "Create subdirectory for archivematica-storage-service source files"
  file:
    dest: "{{ item }}"
    state: "directory"
  with_items:
    - "/usr/lib/archivematica"
  tags: "amsrc-ss-osconf"

- name: "Create subdirectory for archivematica-storage-service database file"
  file:
    dest: "{{ item }}"
    state: "directory"
    owner: "archivematica"
    group: "archivematica"
  with_items:
    - "/var/archivematica/storage-service"
  tags: "amsrc-ss-osconf"

- name: "Create subdirectories for archivematica-storage-service config"
  file:
    dest: "{{ item }}"
    state: "directory"
  with_items:
    - "/etc/archivematica"
  tags: "amsrc-ss-osconf"

- name: "Create archivematica-storage-service log directories"
  file:
    dest: "{{ item }}"
    state: "directory"
    owner: "archivematica"
    group: "archivematica"
    mode: "g+s"
  with_items:
    - "/var/log/archivematica/storage-service"
  tags: "amsrc-ss-osconf"

- name: "Touch SS log files"
  file:
    path: "/var/log/archivematica/storage-service/{{ item }}"
    owner: "archivematica"
    group: "archivematica"
    state: "touch"
  with_items:
    - "storage_service.log"
    - "storage_service_debug.log"
  tags: "amsrc-ss-osconf"


###########################################################
#   4- SS code install
###########################################################

# storage service base dir:  /usr/lib/archivematica/storage-service

- name: "Copy archivematica-storage-service source files"
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: "link"
  with_items:
    - src: "{{ archivematica_src_dir }}/archivematica-storage-service/storage_service"
      dest: "/usr/lib/archivematica/storage-service"
  tags: "amsrc-ss-code"

- name: "Run SS django collectstatic"
  django_manage:
    command: "collectstatic"
    app_path: "/usr/lib/archivematica/storage-service"
    virtualenv: "/usr/share/python/archivematica-storage-service"
  environment: "{{ archivematica_src_ss_environment }}"
  tags: ["amsrc-ss-code", "amsrc-ss-code-collectstatic"]


###########################################################
#   5- SS worker
###########################################################

# grep returns 0 if match found, 1 if not found, and 2 (or >1) if error
- name: "Check if celery or django-celery is in the pip requirements"
  command: "grep -E '^celery|^django-celery' base.txt"
  args:
    chdir: "{{ archivematica_src_dir }}/archivematica-storage-service/requirements"
  register: "grep_celery"
  failed_when: "grep_celery.rc > 1"
  tags: "amsrc-ss-worker"

- set_fact:
    ss_worker: true
  when: "grep_celery.rc == 0"
  tags: "amsrc-ss-worker"

- set_fact:
    ss_worker: false
  when: "grep_celery.rc == 1"
  tags: "amsrc-ss-worker"

- name: "Install redis-server package if required"
  apt:
    pkg: "redis-server"
    state: "latest"
  when: "ss_worker|bool"
  tags: "amsrc-ss-worker"

- name: "Enable and start redis-server if not already running"
  service:
    name: "redis-server"
    state: "started"
    enabled: "yes"
  when: "ss_worker|bool"
  tags: "amsrc-ss-worker"

- name: "Template celery upstart file if required"
  template:
    src: "etc_init_archivematica-storage-service-worker.conf.j2"
    dest: "/etc/init/archivematica-storage-service-worker.conf"
    backup: "yes"
  when: "ss_worker|bool"
  tags: "amsrc-ss-worker"

- name: "Start storage service celery worker"
  service:
    name: "archivematica-storage-service-worker"
    state: "started"
    enabled: "yes"
  when: "ss_worker|bool"
  tags: "amsrc-ss-worker"


###########################################################
#   6- Database config - moved to separate files
###########################################################

###########################################################
#   7- web server config - moved to separate files
###########################################################
