###########################################################
#   6- web server config - when using gunicorn with nginx
###########################################################
- name: "Add storage service gunicorn systemd (/etc/systemd)"
  template:
    src: "etc/systemd/system/archivematica-storage-service.service.j2"
    dest: "/etc/systemd/system/archivematica-storage-service.service"
    backup: "yes"
  tags: "amsrc-ss-osconf"
  when:
    - ansible_service_mgr == "systemd"

- name: "Add storage service gunicorn systemd env file"
  template:
    src: "etc/sysconfig/archivematica-storage-service.j2"
    dest: "{{ systemd_environment_path }}/archivematica-storage-service"
    backup: "yes"
  tags: "amsrc-ss-osconf"

#
# Configure logging
#

- name: "Config SS logging"
  template:
    src: "{{ item }}"
    dest: "/etc/archivematica/storageService.logging.json"
    backup: "yes"
  with_first_found:
    - files:
        - "templates/{{ inventory_hostname }}/storageService.logging.json.j2"
        - "templates/storageService.logging.json.j2"
        - "etc/archivematica/storageService.logging.json.j2"
  tags: "amsrc-ss-osconf"
  when: "archivematica_src_logging_backward_compatible|bool"

- name: "Remove SS backward-compatible logging"
  file:
    path: "/etc/archivematica/storageService.logging.json"
    state: "absent"
  when: "not archivematica_src_logging_backward_compatible|bool"

- name: "Configure rng-tools"
  lineinfile:
    dest: "/etc/default/rng-tools"
    line: "HRNGDEVICE=/dev/urandom"
    insertafter: "^#HRNGDEVICE"
    state: "present"
  tags: "rng-tools"
  become: "yes"
  when:
    - ansible_distribution == "Ubuntu"

- name: "Start rng-tools (Ubuntu-based distros)"
  service:
    name: "rng-tools"
    state: "restarted"
    enabled: "yes"
  tags: "rng-tools"
  when:
    - ansible_distribution == "Ubuntu"

- name: "Start rng-tools (RedHat)"
  service:
    name: "rngd"
    state: "restarted"
    enabled: "yes"
  tags: "rng-tools"
  when:
    - ansible_os_family == "RedHat"

- name: "Enable SS services (systemd)"
  service:
    name: "{{ item }}"
    state: "restarted"
    enabled: "yes"
    daemon_reload: "yes"
  with_items:
    - "archivematica-storage-service"
  when:
    - ansible_service_mgr == "systemd"
  tags: "amsrc-ss-osconf"
