###########################################################
#   6- web server config - when using gunicorn with nginx
###########################################################

# Note: the playbook assumes the use of /etc/nginx/{sites-available|sites-enabled}
#       directories for site config files, even on CentOS/RedHat

- name: "Remove rpm provided nginx config"
  file: 
    state: "absent"
    path: "/etc/nginx/conf.d/archivematica-storage-service.conf"
  when: "archivematica_rpm_install_ss_rpm"

- name: "set nginx sites-available config file"
  template:
    src: "etc/nginx/sites-available/storage.conf.j2"
    dest: "/etc/nginx/sites-available/storage.conf"
    backup: "yes"
  tags: "amsrc-ss-websrv"

- name: "Disable Nginx default server config"
  file:
    path: "{{ item }}"
    state: "absent"
  with_items:
    - "/etc/nginx/sites-enabled/default"
    - "/etc/nginx/sites-enabled/default.conf"
  tags: "amsrc-ss-websrv"

- name: "Set up Nginx server"
  file:
    src: "/etc/nginx/sites-available/storage.conf"
    dest: "/etc/nginx/sites-enabled/storage.conf"
    state: "link"
  tags: "amsrc-ss-websrv"

# SSL configuration tasks - begin
- name: "Template nginx sites-available ssl config file"
  template:
    src: "etc/nginx/sites-available/storage-ssl.conf.j2"
    dest: "/etc/nginx/sites-available/storage-ssl.conf"
    backup: "yes"
  when: "archivematica_src_ssl|bool"
  tags: "amsrc-ss-websrv"

- name: "Remove non-ssl config from sites-enabled"
  file:
    path: "/etc/nginx/sites-enabled/storage.conf"
    state: "absent"
  when: "archivematica_src_ssl|bool"
  tags: "amsrc-ss-websrv"

- name: "Add ssl config to sites-enabled"
  file:
    src: "/etc/nginx/sites-available/storage-ssl.conf"
    dest: "/etc/nginx/sites-enabled/storage-ssl.conf"
    state: "link"
  when: "archivematica_src_ssl|bool"
  tags: "amsrc-ss-websrv"
# SSL configuration tasks - end

- name: "Enable services (systemd)"
  service:
    name: "{{ item }}"
    state: "restarted"
    enabled: "yes"
    daemon_reload: "yes"
  with_items:
    - "nginx"
  when:
    - ansible_service_mgr == "systemd"
  tags: "amsrc-ss-websrv"
