{
  "disable_existing_loggers": false,
  "formatters": {
    "detailed": {
      "datefmt": "%Y-%m-%d %H:%M:%S",
      "format": "%(levelname)-8s  %(asctime)s  %(name)s:%(module)s:%(funcName)s:%(lineno)d:  %(message)s"
    }
  },
  "handlers": {
    "logfile": {
      "backupCount": 5,
      "class": "custom_handlers.GroupWriteRotatingFileHandler",
      "filename": "{{ archivematica_src_mcpserver_logdir }}/MCPServer.log",
      "formatter": "detailed",
      "level": "INFO",
      "maxBytes": {{ archivematica_src_mcpserver_log_maxbytes }}
    },
    "verboselogfile": {
      "backupCount": 5,
      "class": "custom_handlers.GroupWriteRotatingFileHandler",
      "filename": "{{ archivematica_src_mcpserver_logdir }}/MCPServer.debug.log",
      "formatter": "detailed",
      "level": "DEBUG",
      "maxBytes": {{ archivematica_src_mcpserver_log_debug_maxbytes }}
    }
  },
  "loggers": {
    "archivematica": {
      "level": "DEBUG"
    }
  },
  "root": {
    "handlers": [
      "logfile",
      "verboselogfile"
    ],
    "level": "WARNING"
  },
  "version": 1
}
