{
  "disable_existing_loggers": false,
  "formatters": {
{% if archivematica_src_syslog_enabled|bool %}
    "syslog": {
      "datefmt": "%Y-%m-%d %H:%M:%S %z",
      "format": "{{ inventory_hostname }} MCPServer: [%(asctime)s] [%(process)d] [%(levelname)s]  %(name)s:%(module)s:%(funcName)s:%(lineno)d:  %(message)s"
    },
{% endif %}
    "detailed": {
      "datefmt": "%Y-%m-%d %H:%M:%S",
      "format": "%(levelname)-8s  %(asctime)s  %(name)s:%(module)s:%(funcName)s:%(lineno)d:  %(message)s"
    }
  },
  "handlers": {
{% if archivematica_src_syslog_enabled|bool %}
    "syslog": {
      "class": "logging.handlers.SysLogHandler",
      "address": ["{{ archivematica_src_syslog_server }}", {{ archivematica_src_syslog_port }}],
      "formatter": "syslog",
      "facility": "{{ archivematica_src_syslog_mcpserver_facility }}",
      "level": "{{ archivematica_src_syslog_mcpserver_level }}"
    },
{% endif %}
    "logfile": {
      "backupCount": 5,
      "class": "custom_handlers.GroupWriteRotatingFileHandler",
      "filename": "{{ archivematica_src_mcpserver_logdir }}/MCPServer.log",
      "formatter": "detailed",
      "level": "INFO",
      "maxBytes": {{ archivematica_src_mcpserver_log_maxbytes }}
    },
    "verboselogfile": {
      "backupCount": 5,
      "class": "custom_handlers.GroupWriteRotatingFileHandler",
      "filename": "{{ archivematica_src_mcpserver_logdir }}/MCPServer.debug.log",
      "formatter": "detailed",
      "level": "DEBUG",
      "maxBytes": {{ archivematica_src_mcpserver_log_debug_maxbytes }}
    }
  },
  "loggers": {
    "archivematica": {
      "level": "DEBUG"
    }
  },
  "root": {
    "handlers": [
{% if archivematica_src_syslog_enabled|bool %}
      "syslog",
{% endif %}
      "logfile",
      "verboselogfile"
    ],
    "level": "WARNING"
  },
  "version": 1
}
