#!/bin/bash
# transfer script example
cd /usr/lib/archivematica/automation-tools/
/usr/share/python/automation-tools/bin/python -m transfers.transfer --user <user>  --api-key <apikey> --transfer-source <transfer_source_uuid> --config-file <config_file> --ss-user <ss-user> --ss-api-key <ss-key>
