# {{ ansible_managed }}
# automation-tools:transfers configuration file

[transfers]
logfile = {{ archivematica_src_automationtools_transfers_logfile }}
databasefile = {{ archivematica_src_automationtools_transfers_databasefile }}
pidfile = {{ archivematica_src_automationtools_transfers_pidfile }}
