# {{ ansible_managed }}

[Unit]
Description=Archivematica MCP Client Service
After=syslog.target network.target

[Service]
Type=simple
User=archivematica
Group=archivematica
{% if archivematica_src_am_mcpclient_instances == 1 %}
EnvironmentFile=-{{ systemd_environment_path }}/archivematica-mcp-client
{% else %}
EnvironmentFile=-{{ systemd_environment_path }}/archivematica-mcp-client-{{ '%1x' | format(item) }}
{% endif %}
{% if archivematica_src_syslog_enabled|bool %}
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=MCPClientStdout
SyslogFacility={{ archivematica_src_syslog_mcpclient_facility }}
{% endif %}
ExecStart={{ archivematica_src_am_mcpclient_virtualenv }}/bin/python {{ archivematica_src_am_mcpclient_app }}/archivematicaClient.py

[Install]
WantedBy=multi-user.target
