# this file is managed by ansible
[Unit]
Description=Archivematica Storage Service
After=network.target

[Service]
PIDFile=/run/archivematica-storage-service_gunicorn.pid
User=archivematica
Group=archivematica
EnvironmentFile=-{{ systemd_environment_path }}/archivematica-storage-service
WorkingDirectory=/usr/lib/archivematica/storage-service/
ExecStart=/usr/share/python/archivematica-storage-service/bin/gunicorn  --config /etc/archivematica/storage-service.gunicorn-config.py storage_service.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true      

[Install]
WantedBy=multi-user.target