# {{ ansible_managed }}

[Unit]
Description=Archivematica Dashboard
After=syslog.target network.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
PIDFile=/run/archivematica-dashboard_gunicorn.pid
User={{ archivematica_src_am_system_user }}
Group={{ archivematica_src_am_system_group }}
EnvironmentFile=-{{ systemd_environment_path }}/archivematica-dashboard
{% if archivematica_src_syslog_enabled|bool %}
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=DashboardStdout
SyslogFacility={{ archivematica_src_syslog_dashboard_facility }}
{% endif %}
WorkingDirectory={{ archivematica_src_am_dashboard_app }}
ExecStart={{ dashboard_gunicorn_path }} --config {{ archivematica_src_am_dashboard_gunicorn_config }} wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
