# {{ ansible_managed }}

[Unit]
Description=Archivematica MCP Client Service
After=syslog.target network.target

[Service]
Type=simple
User=archivematica
Group=archivematica
EnvironmentFile=-{{ systemd_environment_path }}/archivematica-mcp-client
ExecStart={{ archivematica_src_am_mcpclient_virtualenv }}/bin/python {{ archivematica_src_am_mcpclient_app }}/archivematicaClient.py

[Install]
WantedBy=multi-user.target
