# This file is managed by ansible
[Unit]
Description=Archivematica MCP Client Service
After=syslog.target network.target

[Service]
Type=simple
User=archivematica
EnvironmentFile=-{{ systemd_environment_path }}/archivematica-mcp-client
ExecStart={{ mcp_client_python_path }} /usr/lib/archivematica/MCPClient/archivematicaClient.py

[Install]
WantedBy=multi-user.target
