# {{ ansible_managed }}

[Unit]
Description=FITS Nailgun server
After=syslog.target network.target

[Service]
User={{ archivematica_src_am_system_user }}
ExecStart=/usr/bin/fits-ngserver.sh /usr/share/maven-repo/com/martiansoftware/nailgun-server/debian/nailgun-server-debian.jar
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
