# {{ ansible_managed }}

PYTHONPATH=/usr/lib:/usr/share
LANG="en_US.UTF-8"
LC_ALL="en_US.UTF-8"
LC_LANG="en_US.UTF-8"

{% for key, value in archivematica_src_am_mcpserver_environment.items() %}
{{ key }}={{ value }}
{% endfor %}
