# {{ ansible_managed }}

PATH={{ archivematica_src_am_mcpclient_virtualenv }}/bin:/usr/local/sbin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin
PYTHONPATH={{ archivematica_src_am_mcpclient_app }}:{{ archivematica_src_am_mcpclient_modules_app }}:{{ archivematica_src_am_common_app }}:{{ archivematica_src_am_dashboard_app }}
LANG="en_US.UTF-8"
LC_ALL="en_US.UTF-8"
LC_LANG="en_US.UTF-8"

{% for key, value in archivematica_src_am_mcpclient_environment.items() %}
{{ key }}={{ value }}
{% endfor %}

{% if clamav_uses_file_socket is not defined or archivematica_src_mcpclient_clamav_use_tcp|bool %}
ARCHIVEMATICA_MCPCLIENT_MCPCLIENT_CLAMAV_SERVER={{ archivematica_src_mcpclient_clamav_tcp_ip  }}:{{ archivematica_src_mcpclient_clamav_tcp_port }}
{% endif %}
