# this file is managed by ansible

DJANGO_SETTINGS_MODULE=settings.common
PATH=/usr/share/python/archivematica-mcp-client/bin:/usr/local/sbin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin
PYTHONPATH=/usr/lib/archivematica/MCPClient/:/usr/lib/archivematica/archivematicaCommon/:/usr/share/archivematica/dashboard/
