# {{ ansible_managed }}

PYTHONPATH={{ archivematica_src_am_common_app }}:{{ archivematica_src_am_dashboard_app }}
LANG="en_US.UTF-8"
LC_ALL="en_US.UTF-8"
LC_LANG="en_US.UTF-8"

{% for key, value in archivematica_src_am_mcpserver_environment.items() %}
{{ key }}={{ value }}
{% endfor %}
