# {{ ansible_managed }}

LANG="en_US.UTF-8"
LC_ALL="en_US.UTF-8"
LC_LANG="en_US.UTF-8"

{% for key, value in archivematica_src_ss_environment.items() %}
{% if (key != "SS_DB_URL") and (key != "DJANGO_SECRET_KEY" ) %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}
