[MCPClient]
MCPArchivematicaServer = localhost:4730
sharedDirectoryMounted = {{ archivematica_src_shareddir }}/
maxThreads = 2
archivematicaClientModules = {{ archivematica_src_clientmodules }}
clientScriptsDirectory = /usr/lib/archivematica/MCPClient/clientScripts/
clientAssetsDirectory = /usr/lib/archivematica/MCPClient/assets/
LoadSupportedCommandsSpecial = True
#numberOfTasks 0 means detect number of cores, and use that.
numberOfTasks = 0
elasticsearchServer = {{ archivematica_src_am_es_host }}
disableElasticsearchIndexing = False
temp_dir = {{ archivematica_src_shareddir }}/tmp
kioskMode = False
django_settings_module = settings.common
