[client]
user={{ archivematica_src_am_database_user }}
password={{ archivematica_src_am_database_password }}
host={{ archivematica_src_am_database_host }}
database={{ archivematica_src_am_database_name }}
max_overflow=40
