# this file is managed by ansible

description "Archivematica MCP Client"

start on (net-device-up
          and local-filesystems
          and runlevel [2345])
stop on runlevel [016]

env CONF=/etc/archivematica/MCPClient
env LOCATION="{{ mcp_client_python_path }} /usr/lib/archivematica/MCPClient/archivematicaClient.py"
{% if archivematica_src_am_multi_venvs|bool %}
# fix PATH so that python is the MCPClient virtualenv is used
env PATH="/usr/share/python/archivematica-mcp-client/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
env PYTHONPATH=/usr/lib/archivematica/MCPClient/:/usr/lib/archivematica/archivematicaCommon/:/usr/share/archivematica/dashboard/
{% else %}
env PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
{% endif %}
env DJANGO_SETTINGS_MODULE=settings.production

setuid archivematica
setgid archivematica

script

    # Is this still necessary?
    test -f /etc/default/locale && . /etc/default/locale || true

    $LOCATION

end script
