#!/bin/bash

[MCPServer]
MCPArchivematicaServer  =  localhost:4730
GearmanServerWorker = localhost:4730
watchDirectoryPath  =  {{ archivematica_src_shareddir }}/watchedDirectories/
sharedDirectory  =  {{ archivematica_src_shareddir }}/
processingDirectory  =  {{ archivematica_src_shareddir }}/currentlyProcessing/
rejectedDirectory  =  %%sharedPath%%rejected/
watchDirectoriesPollInterval = 1
processingXMLFile = processingMCP.xml
waitOnAutoApprove = 0

singleInstancePIDFile = /tmp/archivematicaMCPServerPID


[Protocol]
#separates Values when transported from client to server
delimiter = <!&\delimiter/&!>

#--Gearman--
limitGearmanConnections = 10000
limitTaskThreads = 75
limitTaskThreadsSleep = 0.2
reservedAsTaskProcessingThreads = 8
