# {{ ansible_managed }}

# Documentation: http://docs.gunicorn.org/en/stable/configure.html
# Example: https://github.com/benoitc/gunicorn/blob/master/examples/example_config.py

import os

# http://docs.gunicorn.org/en/stable/settings.html#user
user = os.environ.get('SS_GUNICORN_USER', 'archivematica')

# http://docs.gunicorn.org/en/stable/settings.html#group
group = os.environ.get('SS_GUNICORN_GROUP', 'archivematica')

# http://docs.gunicorn.org/en/stable/settings.html#bind
bind = os.environ.get('SS_GUNICORN_BIND', '{{ archivematica_src_ss_bind }}')

# http://docs.gunicorn.org/en/stable/settings.html#workers
workers = os.environ.get('SS_GUNICORN_WORKERS', '{{ archivematica_src_ss_gunicorn_workers }}')

# http://docs.gunicorn.org/en/stable/settings.html#worker-class
worker_class = os.environ.get('SS_GUNICORN_WORKER_CLASS', 'gevent')

# http://docs.gunicorn.org/en/stable/settings.html#timeout
timeout = os.environ.get('SS_GUNICORN_TIMEOUT', '{{ archivematica_src_ss_gunicorn_timeout }}')

# http://docs.gunicorn.org/en/stable/settings.html#reload
reload = os.environ.get('SS_GUNICORN_RELOAD', '{{ 'True' if is_dev else 'False' }}')

# http://docs.gunicorn.org/en/stable/settings.html#reload-engine
reload_engine = os.environ.get('SS_GUNICORN_RELOAD_ENGINE', 'auto')

# http://docs.gunicorn.org/en/stable/settings.html#chdir
chdir = os.environ.get('SS_GUNICORN_CHDIR', '/usr/lib/archivematica/storage-service')

# http://docs.gunicorn.org/en/stable/settings.html#raw-env
raw_env = [
{% for key, value in archivematica_src_ss_environment.iteritems() %}
    "{{ key }}={{ value }}",
{% endfor %}
]

# http://docs.gunicorn.org/en/stable/settings.html#accesslog
accesslog = os.environ.get('SS_GUNICORN_ACCESSLOG', '-')

# http://docs.gunicorn.org/en/stable/settings.html#errorlog
errorlog = os.environ.get('SS_GUNICORN_ERRORLOG', '-')

# http://docs.gunicorn.org/en/stable/settings.html#loglevel
loglevel = os.environ.get('SS_GUNICORN_LOGLEVEL', '{{ 'debug' if is_dev else 'info' }}')

# http://docs.gunicorn.org/en/stable/settings.html#proc-name
proc_name = os.environ.get('SS_GUNICORN_PROC_NAME', 'archivematica-storage-service')

# http://docs.gunicorn.org/en/stable/settings.html#pythonpath
pythonpath = os.environ.get('SS_GUNICORN_PYTHONPATH', '')

# http://docs.gunicorn.org/en/stable/settings.html#sendfile
sendfile = os.environ.get('SS_GUNICORN_SENDFILE', '{{ archivematica_src_ss_gunicorn_sendfile }}')
