# {{ ansible_managed }}
[uwsgi]

##
## Process-related settings
##

uid = archivematica
gid = archivematica

master = true
processes = 10

# Socket configuration
socket = /tmp/storage.uwsgi.sock
chmod-socket = 660
chown-socket = www-data:www-data

# Clear environment on exit
vacuum = true

##
## Django-related settings
##

# The base directory (full path)
chdir = /usr/lib/archivematica/storage-service

# Django's WSGI file
module = storage_service.wsgi

# The virtual environment (full path)
home = /usr/share/python/archivematica-storage-service

# Environment variables
env = DJANGO_SECRET_KEY={{ archivematica_src_ss_env_django_secret_key }}
env = DJANGO_SETTINGS_MODULE={{ archivematica_src_ss_env_django_setings_module  }}
env = DJANGO_STATIC_ROOT={{ archivematica_src_ss_env_django_static_root }}
env = EMAIL_HOST={{ archivematica_src_ss_env_email_host }}
env = EMAIL_HOST_PASSWORD={{ archivematica_src_ss_env_email_host_password }}
env = EMAIL_HOST_USER={{ archivematica_src_ss_env_email_host_user }}
env = EMAIL_PORT={{ archivematica_src_ss_env_email_port }}
env = SS_DB_HOST={{ archivematica_src_ss_env_ss_db_host }}
env = SS_DB_NAME={{ archivematica_src_ss_env_ss_db_name }}
env = SS_DB_PASSWORD={{ archivematica_src_ss_env_ss_db_password }}
env = SS_DB_USER={{ archivematica_src_ss_env_ss_db_user }}
