#Create templates
$template AMLOG,"/var/log/archivematica/%$YEAR%/%$MONTH%/%$DAY%/%programname%.log"

#Log each service on it's own file
{{ archivematica_src_syslog_storageservice_facility }}.*  -?AMLOG
{{ archivematica_src_syslog_dashboard_facility }}.*  -?AMLOG
{{ archivematica_src_syslog_mcpclient_facility }}.*  -?AMLOG
{{ archivematica_src_syslog_mcpserver_facility }}.*  -?AMLOG

#Stop processing
{{ archivematica_src_syslog_storageservice_facility }}.* stop
{{ archivematica_src_syslog_dashboard_facility }}.* stop
{{ archivematica_src_syslog_mcpclient_facility }}.* stop
{{ archivematica_src_syslog_mcpserver_facility }}.* stop
